body{
	font-family: 'Codystar', sans-serif;
	font-size: 72px;
	background-color:black;
	color: white;
	text-align:center;
	height: 100%;
	overflow:hidden;
}
#ux{
	position: fixed;
	bottom: 0px;
	height: 100px;
	background: rgba(10,10,10,0.2);
	width: 100%;
	padding: 10px;
}

#log{
	float:right;
	font-size: 12px;
	text-align:left;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 200px;
	height:80px;
}